.top-navbar{
	background-color: blue;
}

.top-a{
	color: white !important; 
}
table.todo-table td {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid lightgrey;
}

.close{
	color: black;
}

.todo-task{
	margin-right: 5%;
}

.cat-label{
	margin-left: 10px;
	background: blue;
	color:white;
    padding: 5px 5px 5px 5px;
    border-radius: 20%;
}
.paginate{
	margin:0 auto;
	padding-top: 5px;
}


.card-header{
	background: none;
    font-size: 40px;
}
.card{
	    width: 100%;
    border: none;
}
.alert-success {
    background-color: lightgreen;
    border-color: lightgreen;
}
.taskmodal-btn{
	width:25%;
}